@use '@angular/material' as mat;

// Material theming
$ncstate-primary: mat.define-palette(mat.$red-palette, 700);
$ncstate-accent: mat.define-palette(mat.$blue-grey-palette);
$ncstate-warn: mat.define-palette(mat.$deep-orange-palette);

$ncstate-theme: mat.define-light-theme($ncstate-primary, $ncstate-accent, $ncstate-warn);

$gradient-opacity: 0.48;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@include mat.all-legacy-component-themes($ncstate-theme);

html,
body {
  height: 100%;
  margin: 0;
}

.demo-background-rainbow {
  background: linear-gradient(
    to right,
    rgba(255, 165, 0, $gradient-opacity),
    rgba(255, 255, 0, $gradient-opacity),
    rgba(0, 128, 0, $gradient-opacity),
    rgba(0, 255, 255, $gradient-opacity),
    rgba(0, 0, 255, $gradient-opacity),
    rgba(238, 130, 238, $gradient-opacity)
  );
}

.demo-background-dark {
  background: rgba(0, 0, 0, 0.6);
}
